<h1><%= "Places I've been" %></h1>

<ul>
  <% for place in @place.name %>
    <li><%= "#{place.name}" %></li>
  <% end %>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place.id %>">New Place</a>
</p>
